cdk/statemachines/user-describe.asl.json
{
  "Comment": "UserDescribeService",
  "StartAt": "GetParams",
  "States": {
    "GetParams": {
      "Type": "Task",
      "Next": "ValidInput?",
      "Parameters": {
        "Name": "/saas-auth-demo/params"
      },
      "Resource": "arn:aws:states:::aws-sdk:ssm:getParameter",
      "ResultPath": "$.Params",
      "ResultSelector": {
        "Data.$": "States.StringToJson($.Parameter.Value)"
      }
    },
    "ValidInput?": {
      "Type": "Choice",
      "Choices": [
        {
          "And": [
            {
              "Variable": "$.tenantId",
              "IsPresent": true
            },
            {
              "Variable": "$.tenantId",
              "IsString": true
            },
            {
              "Variable": "$.userId",
              "IsPresent": true
            },
            {
              "Variable": "$.userId",
              "IsString": true
            }
          ],
          "Comment": "Yes",
          "Next": "GetTenantUser"
        }
      ],
      "Default": "InvalidRequestError"
    },
    "InvalidRequestError": {
      "Type": "Fail",
      "Error": "InvalidRequestError",
      "Cause": "invalid request parameters"
    },
    "GetTenantUser": {
      "Type": "Task",
      "Resource": "arn:aws:states:::dynamodb:getItem",
      "Parameters": {
        "TableName.$": "$.Params.Data.DDBTable",
        "Key": {
          "pk.$": "States.Format('tenant#{}', $.tenantId)",
          "sk.$": "States.Format('membership#{}', $.userId)"
        }
      },
      "ResultPath": "$.GetTenantUserResult",
      "Next": "UserExists?"
    },
    "UserExists?": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.GetTenantUserResult.Item",
          "IsPresent": true,
          "Comment": "Yes",
          "Next": "FormatOutput"
        }
      ],
      "Default": "UserNotFoundError"
    },
    "FormatOutput": {
      "Type": "Pass",
      "Parameters": {
        "tenantId.$": "States.ArrayGetItem(States.StringSplit($.GetTenantUserResult.Item.pk.S, '#'), 1)",
        "userId.$": "States.ArrayGetItem(States.StringSplit($.GetTenantUserResult.Item.sk.S, '#'), 1)",
        "displayName.$": "$.GetTenantUserResult.Item.displayName.S",
        "email.$": "$.GetTenantUserResult.Item.email.S",
        "role.$": "$.GetTenantUserResult.Item.role.S",
        "type.$": "$.GetTenantUserResult.Item.type.S"
      },
      "Next": "Success"
    },
    "Success": {
      "Type": "Succeed"
    },
    "UserNotFoundError": {
      "Type": "Fail",
      "Error": "UserNotFoundError",
      "Cause": "given tenantId or userId not found"
    }
  }
}